<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://d33wubrfki0l68.cloudfront.net/f594274eb7ca4669d29d1a3662fea26d8f020965/669f6/images/category/development.jpg"
       alt=""
       height="200px"
       srcset="">
    </div>
    <div class="small-card__title">
      <h1>
        <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
      </h1>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr>
  </div>

</div>


