
<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="article">
  <div class="articles__main">
    <app-big-card
      photoCover="https://www.devmedia.com.br/arquivos/Artigos/29539/CSharp-Oo.jpg"
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
      cardDescription="Cras ac sapien vel lectus laoreet accumsan. Sed ut pellentesque neque, sit amet finibus lorem. Duis eget dui venenatis, tristique orci non, varius est."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      photoCover="https://d33wubrfki0l68.cloudfront.net/f594274eb7ca4669d29d1a3662fea26d8f020965/669f6/images/category/development.jpg"
    ></app-small-card>
    <app-small-card
      cardTitle="Vestibulum blandit quam ac pretium aliquam."
      photoCover="https://s2.glbimg.com/twoewJmwpMgtGPcRPP8SxFlDVmM=/0x0:695x393/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2021/P/f/y52r4ySZWLkJjEhKLhgw/2014-11-14-java-logo.jpg"
    ></app-small-card>
    <app-small-card
      cardTitle="Nam commodo pellentesque massa, vel venenatis turpis."
      photoCover="https://dkrn4sk0rn31v.cloudfront.net/uploads/2020/01/07093212/PYTHON.png"
    ></app-small-card>


  </div>
</div>
